p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;

}

.crocrodiles {
    width: 180px;
    height: 140px;
}

.boutique {
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-left: auto;

}

.txtbtq {

    font-size: 26px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: auto;
    color: blue;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

.autoalign {

    /*margin-left: 10%;*/
    /* margin-right: 10%;*/
    text-justify: auto;
    text-align: center;


}

.txtp {
    text-align: center;
}

a:hover {
    background-color: aquamarine;
}

a {
    color: brown;
}

a:visited {
    color: brown;
}

.bandeau {
    background-color: rosybrown;

}

.bdalignleft {
    margin-right: 100px;
    /* margin-bottom: -50px; */

}

.bdalignright {
    margin-left: 100px;
}

.side {
    float: right;
    width: 20%;
    margin-top: -50px;
    text-justify: auto;
    margin-left: 100px;
    border: 3px brown solid;
    border-radius: 10px;
    padding: 10px; /* marges intérieures */
}